<div class="box">
    <div class="content is-large">
        <p><strong>{{event.name}}</strong></p>
    </div>
    <div class="columns">
        <div class="column">
            <p><strong>Location: </strong>{{event.location}}</p>
            <p><strong>Description: </strong>{{event.description}}</p>
            <p><strong>Date: </strong>{{event.date._seconds * 1000 | date}}</p>
            <p><strong>Start Time: </strong>{{event.startTime}}</p>
            <p><strong>End Time: </strong>{{event.endTime}}</p>
            <p><strong>Event Code</strong></p>
            <a (click)="download($event.srcElement.currentSrc)"  id="{{event.eventId}}">
                <qrcode [qrdata]="event.eventId" [size]="128" [level]="'M'"></qrcode>
            </a>
            <p class="has-text-grey is-italic">Click to download</p>
        </div>
        <div class="column">
            <a class="button is-white" (click)="toggleParticipants()">
                <span>Signed up users</span>
                <span class="icon">
                    <i *ngIf="!showParticipants" class="fa fa-angle-down"></i>
                    <i *ngIf="showParticipants" class="fa fa-angle-up"></i>
                </span>
            </a>
            <div *ngIf="showParticipants && event.participants.length > 0" class="table-column">
                <table mat-table [dataSource]="event.participants">
                    <!-- Position Column -->
                    <ng-container matColumnDef="#">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell mat-h2 *matCellDef="let i = index"> {{i + 1}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let participant"> {{participant}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
            </div>
            <div *ngIf="showParticipants && event.participants.length <= 0">
                <p class="has-text-centered">No confirmed users</p>
            </div>
        </div>
        <div class="column">
            <a class="button is-white" (click)="toggleAtendees()">
                <span>Confirmed users</span>
                <span class="icon">
                    <i *ngIf="!showAtendees" class="fa fa-angle-down"></i>
                    <i *ngIf="showAtendees" class="fa fa-angle-up"></i>
                </span>
            </a>
            <div *ngIf="showAtendees && event.confirmed_participants.length > 0" class="table-column">
                <table mat-table [dataSource]="event.confirmed_participants">
                    <!-- Position Column -->
                    <ng-container matColumnDef="#">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let participant"> {{participant}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
            </div>
            <div *ngIf="showAtendees && event.confirmed_participants.length <= 0">
                <p class="has-text-centered">No confirmed users</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="has-text-right">Created on: {{event.createdOn._seconds * 1000 | date}}</div>
        <div class="has-text-right">Created by: {{event.createdBy}}</div>
    </div>
</div>
