<nav class="navbar is-secondary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="assets/logo.jpeg" width="75px" height="75px">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/dashboard">
                Dashboard
            </a>
        
            <a class="navbar-item" routerLink="/create_event">
                Create New Event
            </a>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" (click)="logout()">
                        <span class="icon">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>Log out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>