<nav class="navbar is-secondary is-fixed-top pop-up" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="assets/logo.png" width="100px" height="100px">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/event_dashboard">
                Event Dashboard
            </a>
            <a class="navbar-item" routerLink="/marketplace_dashboard">
                Market Place Dashboard
            </a>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
                Hello, {{user?.name}}
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a *ngIf="showLogout" class="button is-light" (click)="logout()">
                        <span class="icon">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>Log out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>