<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container is-centered">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="box is-centered">
            <p class="has-text-centered">
              Please verify your email.
            </p>
            <button class="button is-success is-fullwidth" (click)="sendVerificationEmail()">
              Send Verification Email
            </button>
            <p class="has-text-centered" *ngIf="error">
              {{errMessage}}
            </p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
<app-spinner #spinner message="Waiting for Verification..."></app-spinner>
