<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>

<body>
        <!-- START NAV -->
        <nav class="navbar is-secondary is-fixed-top pop-up" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" href="/login">
                                    Admin Login
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END NAV -->

              <!-- Header -->
    <section class="hero is-success is-fullheight is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-mobile is-centered is-vcentered">
            <div class="column">
                <figure class="image">
                    <img src="assets/logo.png" alt="Image">
                </figure> 
            </div>
            <div class="column">
                <h1 class="title is-1">
                    Welcome to Plantlanta Volunteering
                  </h1>
                  <br>
                  <h2 class="subtitle is-3">
                    Your new way of finding great opportunities to help your Atlanta community grow and progress while having a great time. Welcome!
                  </h2>
            </div> 
          </div>
        </div>
      </div>
    </section>

    <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
        <div class="section">
            <!-- Developers -->
            <div class="row columns">
                <div class="column is-one-third">
                  <div class="box">
                      <div class="card">
                          <div class="card-image">
                              <figure class="image">
                                  <img src="assets/event.jpeg" alt="Image">
                              </figure>
                          </div>
                          <div class="card-content">
                              <div class="media">
                                  <div class="media-content">
                                      <p class="title is-4 no-padding">Find volunteering events!</p>
                                  </div>
                              </div>
                              <div class="content">
                                  Find great ways to give back to the community while also earning reward points!
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="column is-one-third">
                  <div class="box">
                      <div class="card">
                          <div class="card-image">
                              <figure class="image">
                                  <img src="assets/profile.jpeg" alt="Image">
                              </figure>
                          </div>
                          <div class="card-content">
                              <div class="media">
                                  <div class="media-content">
                                      <p class="title is-4 no-padding">Customize your profile!</p>
                                  </div>
                              </div>
                              <div class="content">
                                  View and edit your profile to see what you've been up to and who you've become friends with!
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="column is-one-third">
                    <div class="box">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="assets/marketplace.jpeg" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4 no-padding">Earn great rewards!</p>
                                    </div>
                                </div>
                                <div class="content">
                                  Exchange your reward points for amazing prizes, making volunteering all the more rewarding!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Developers -->
        </div>
          <!-- Services -->
  <section class="section" id="services">
      <div class="section-heading">
        <h3 class="title is-2 is-centered">Get the brand new app!</h3>
        <h4 class="subtitle is-5">Make sure to find the app in your available mobile store!</h4>
      </div>
      <br>
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="box">
              <div class="content">
                <h4 class="title is-5">Download for iOS</h4>
                <figure class="image">
                    <img src="assets/app.png" alt="Image">
                </figure>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="content">
                <h4 class="title is-5">Download for Android</h4>
                <figure class="image">
                    <img src="assets/play.jpg" alt="Image">
                </figure>
              </div>
            </div>
          </div>
        </div>
        </div>
        </section>
        </div>

<script src="../js/bulma.js"></script>

</body>

</html>