<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div *ngIf="!isEdit" class="title">Create New Item</div>
        <div *ngIf="isEdit" class="title">Edit Item</div>
        <div  *ngIf="loading" class="content has-text-centered">
            <div class="lds-ripple"><div></div><div></div><div></div></div>
            <p>{{message}}</p>
        </div>
        <form *ngIf="!badRequestId && !loading" action="" class="box" [formGroup]="itemForm">
          <div class="field">
            <label class="label">Item name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Item name" formControlName="itemName" required/>
            </div>
          </div>
          <div class="field">
            <label class="label">Item brand</label>
            <div class="control">
              <input class="input" type="text" placeholder="Item brand" formControlName="itemBrand" required/>
            </div>
          </div>
          <div class="field">
            <label class="label">Item description</label>
            <div class="control">
              <input class="input" type ="text" placeholder="Item description" formControlName="itemDescription" required/>
            </div>
          </div>
          <div class="columns row-one">
            <div class="column">
              <div class="field">
                <label class="label">Item price</label>
                <div class="control">
                  <input class="input" type="number" placeholder=0 formControlName="itemPrice" required/>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Item quantity</label>
                <div class="control">
                  <input class="input" type="number" placeholder=1 formControlName="itemQuantity" required/>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Item image upload</label>
            <div class="control has-icons-left">
              <input class="input" type="file" required (change)="onFileChange($event, this)"/>
              <span class="icon is-small is-left">
                <i class="fa fa-file"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Item codes</label>
            <div class="control">
              <textarea class="textarea" placeholder="Enter each item code in a new line" formControlName="itemCodes" required></textarea>
            </div>
          </div>
          <div *ngIf="!validForm">
            {{errMessage}}
          </div>
          <div *ngIf="!isEdit" class="field">
            <p class="control">
              <a class="button is-primary" (click)="checkCodesQuantity()">
                Create Item
              </a>
            </p>
          </div>
          <div *ngIf="isEdit" class="field is-grouped">
            <p class="control">
                <a class="button is-primary" (click)="editItem()">
                  <span>Edit Item</span>
                  <span class="icon is-small">
                      <i class="fa fa-edit"></i>
                  </span>
              </a>
            </p>
            <p class="control">
                <a class="button is-danger" (click)="toggleConfirmDeleteModal()">
                    <span>Delete Item</span>
                    <span class="icon is-small">
                        <i class="fa fa-trash"></i>
                    </span>
                </a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
  
  <div *ngIf="itemCreated">
    <div class="modal is-active">
        <a (click)="closeItemCreatedModal()">
            <div class="modal-background"></div>
        </a>
        <div class="modal-content">
            <div class="box">
                <p class="has-text-centered">Item Created Successfully</p>
            </div>
        </div>
    </div>
  </div>
  
  <div *ngIf="editModal">
    <div class="modal is-active">
        <a (click)="closeEditModal()">
            <div class="modal-background"></div>
        </a>
        <div class="modal-content">
            <div class="box">
                <p class="has-text-centered">{{editModalMessage}}</p>
            </div>
        </div>
    </div>
  </div>
  
  <div *ngIf="confirmDeleteModal">
    <div class="modal is-active">
        <a (click)="toggleConfirmDeleteModal()">
            <div class="modal-background"></div>
        </a>
        <div class="modal-content">
            <div class="box">
                <p class="has-text-centered">Are you sure you want to delete this item?</p><br>
                <div class="content has-text-centered">
                  <a class="button is-danger" (click)="deleteItem()">
                      <span>Delete Item</span>
                      <span class="icon is-small">
                          <i class="fa fa-trash"></i>
                      </span>
                  </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div *ngIf="successDeleteModal">
    <div class="modal is-active">
        <a (click)="closeSuccessDeleteModal()">
            <div class="modal-background"></div>
        </a>
        <div class="modal-content">
            <div class="box">
                <p class="has-text-centered">{{successDeleteModalMessage}}</p>
            </div>
        </div>
    </div>
  </div>
  