<section class="hero is-fullheight-with-navbar is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="title">Upcoming Events</div>
            <div *ngIf="loaded">
                <div *ngFor="let event of events">
                    <app-eventcard [event]="event"></app-eventcard>
                </div>
            </div>
        </div>
    </div>
</section>                                                                                         
