/* You can add global styles to this file, and also import other style files */
$primary: #25A325;
$success: #3ABC3A;
$secondary: #FFDB2B;
@import "../node_modules/bulma/bulma"
@import "../node_modules/bulma-extensions//bulma-pageloader/dist/css/bulma-pageloader"