/* You can add global styles to this file, and also import other style files */
// General color overrides
$primary: #25A325;
$success: #3ABC3A;
$secondary: #FFDB2B;
$title-color: #000000;
// Menu variable overrides
$navbar-item-img-max-height: 75px;
$navbar-background-color: $secondary;
$navbar-item-hover-background-color: #FFE35B;
$navbar-item-hover-color: #000000;
@import "../node_modules/bulma/bulma"
@import "../node_modules/bulma-extensions//bulma-pageloader/dist/css/bulma-pageloader"