<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container is-fluid">
      <div class="columns is-vcentered">

        <div class="column is-1"></div>

        <div class="column">
          <app-register-organization-form></app-register-organization-form>
        </div>
        
        <div class="column is-1"></div>
  
        <div class="column">
          <app-request-admin-form></app-request-admin-form>
        </div>

        <div class="column is-1"></div>
        
      </div>
    </div>
  </div>
</section>